$Tuna: #353841;
$BurntSienna: #ed6864;
$FrenchGray: #bababc;
$Jumbo: #78787b;
$Goldenrod: #fcd66c;
$Tabasco: #92340f;
$RoseFog: #ebcac5;
$Tuna2: #3e3f47;
$Makara: #8d7c6d;
$Edward: #a1aba9;
$RegentGray: #8c9aa5;
$BurntSienna2: #ea6862;
$GrayChateau: #a2abae;
$Sambuca: #3d2512;
$Thunder: #171216;
$Putty: #e9c899;